{% extends 'layouts/b.html' %}
{% block content %}
<div class="md:flex items-center">
    <div class="w-full md:max-w-sm mr-6 md:[&>*>*>p]:text-4xl">
        {% include 'posts/post.html' %}
    </div>
    <div>
        <h1>حذف پست</h1>
        <p class="mb-6">آیا مطمئن هستید که می خواهید این پست را حذف کنید؟</p>
        <form method="POST" id="deletePostForm">
            {% csrf_token %}
            <button type="submit" class="confirm-btn">تایید کنید</button>
            <a class="button secondaryAction ml-1" href="{{ request.META.HTTP_REFERER }}">به عقب برگرد</a>
        </form>
    </div>
</div>
<style>
    .confirm-btn {
        background-color: #f44336;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

    .confirm-btn:hover {
        background-color: #d32f2f;
    }

    .secondaryAction {
        color: #007bff;
        text-decoration: none;
    }

    .secondaryAction:hover {
        text-decoration: underline;
    }
</style>
<script>
    document.getElementById('deletePostForm').addEventListener('submit', function(event) {
        if (!confirm('Are you sure you want to delete this post?')) {
            event.preventDefault(); // Prevent form submission if user cancels
        }
    });
</script>
{% endblock %}
