{% extends 'layouts/b.html' %}
{% load static %}
{% block content %}
<h1 class="text-3xl font-bold mb-4">Edit Post</h1>

<div class="card p-6 bg-white shadow-lg rounded-lg">
    <div class="flex items-center mb-4">
        <img class="w-20 h-20 object-cover rounded-xl mr-4" src="{{ post.image }}" alt="Post Image">
        <h3 class="text-lg font-bold">{{ post.title }}</h3>
    </div>

    <div class="pb-4">
        <form method="POST" id="post-form">
            {% csrf_token %}
            {{ form }}
            <div class="pt-4">
                <button type="submit" class="btn-primary">Submit</button>
                <a href="javascript:history.back()" class="btn-secondary ml-2">Go Back</a>
            </div>
        </form>
    </div>
</div>
<link rel="stylesheet" href="{% static 'Post/css/style.css' %}">    
<script type="text/javascript" src="{% static 'Post/js/main.js' %}"></script>
{% endblock %}
