asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.12.14
charset-normalizer==3.4.1
Django==5.1.4
django-allauth==65.3.1
django-cleanup==9.0.0
django-htmx==1.21.0
idna==3.10
pillow==11.0.0
requests==2.32.3
shell==1.0.1
soupsieve==2.6
sqlparse==0.5.3
urllib3==2.3.0
