<section class="grid bg-gray-700 text-white text-center bg-cover z-10 relative bg-[url('https://live.staticflickr.com/65535/49909538937_3255dcf9e7_b.jpg')]">
        <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-40 w-full h-full"></div>
        <div class="col-start-1 row-start-1 py-24 px-10">
            <h1 class="font1 text-6xl title-fadein">عکس ها و کپشن های فوق العاده</h1>
            <p class="text-lg font-bold mb-5">عکس‌های محبوب خود را از فلیکر به اشتراک بگذارید و کپشن جذابی برایشان بنویسید</p>
            <a class="button bg-primary hover:bg-primary-hover text-white py-2 px-6 rounded-lg" href="#">شروع کنید</a>
        </div>
</section>